.contact {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9rem 0
}

.contact-wrapper {
  display: flex;
}

.contact-info-section{
  padding: 0 8rem;
  p {
    margin-top: 5rem;
  }
}


.contact-form-name{
  align-items: center;
  justify-content: space-between;
  display: flex;
}

